<h2><%= 'Choose players to save to your draft board' %></h2><br>

<div class="add_players-container">
    <%= form_tag("/players_team", method: "post") do %>
      <%= label_tag(:q, "Pick Team To Add To: ")%>
      <%= select_tag(:q, options_from_collection_for_select(User.where(name: 'bill').first.teams, :id, :name))%><br>
      <%= label_tag(:z, "Filter By Position: ")%>
      <%= select_tag(:z, options_for_select(@all_positions.map{|a| [a[:name], a[:id]]}))%>
      <%= submit_tag("Submit", :id => :q, :position_id => :z)%>
    <% end %>
</div>


<style>

th {
    background: #336B87;
}

tr {
    background: #f3f3f3;
}

tr:nth-child(even) {
    background: #E6F5FF;
}

.container {
    min-width: 400px;
    border-collapse: collapse;
    font-size: 1.3em;
    text-align: left;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.container thead tr{
    background-color: lightblue;
     color: white;
    font-weight: bold;
    text-align: left;
}

.container th, .container td {
    padding: 10px 10px;
}

.container tbody tr {
    border-bottom: 1px solid lightgrey;
}

.container tbody tr:last-of-type {
    border-bottom: 2px solid lightgrey;
}

.add_submit {
    height: 50px;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    position: relative;
}
 


</style>

<% i = 0 %>
    <table style="width:90%; margin-right: auto; margin-left: auto;" class="container">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Yards</th>
                <th>Touchdowns</th>
                <th>Interceptions</th>
                <th>Sacks</th>
                <th>Comb</th>
                <th>FGM</th>
                <th>FG Att</th>
                <th>A-M</th>
                <th>Add To Roster</th>
            </tr>
        </thead>
        <tbody>
        <%while i < @players.count%>
            <tr>
                <td><%= i+1 %></td>      
                <td><%= @players[i].name %></td>
                <td><%= @players[i].position %></td>
                <td><%= @players[i].yards %></td>
                <td><%= @players[i].touchdowns %></td>
                <td><%= @players[i].intercepts %></td>
                <td><%= @players[i].sacks %></td>          
                <td><%= @players[i].comb %></td>
                <td><%= @players[i].fg_m %></td>
                <td><%= @players[i].fg_att %></td> 
                <td><%= @players[i].a_m %></td>
                <td>
                    <%=form_for :player do |f|%>
                        <input type="hidden" name= "id" value=<%=@players[i].id%>>
                        <input type="hidden" name= "team_id" value=<%=@team_id%>>
                        <%=f.submit%>
                    <%end%>
                </td>
            </tr>
            <% i += 1%>
        <%end%>
        </tbody>
    </table>