

<% @players_array.each_with_index do |player, index| %>
    <table class="teams_container">
        <thead>
            <tr>
                <th><%=@headers[index]%></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th><%=@categories[index]%></th>
            </tr>
            <tr>
                <td><%= player.name %></td>
                <td><%= player.position %></td>
                <td><%= player[@cat_symbols[index].to_sym] %></td>
            </tr>
        </tbody>
    <table>
<%end%>


