<h2>Create your account to setup your draft board!</h2>

<div class="signup-container">
    <%= form_for @user do |f| %>
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>

        <p><%= f.label :username %></p>
        <p><%= f.text_field :username %></p>

        <p><%= f.label :password %></p>
        <p><%= f.password_field :password %></p>

        <p><%= f.label :"re-enter password" %></p>
        <p><%= f.password_field :password_confirmation %></p>

        <%= f.submit "Create Account" %>
    
    <% end %>
</div>