<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootballDraftApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <header>Fantasy Football Draft Toolkit</header>
  <body>
    <nav>
      <ul>
        <% if current_user %>
          <p><%= link_to "Log Out", logout_path %></p>
          <p><%= link_to "Back", :back, class: "btn btn-sm btn-default" %></p>
        <% else %>
          <p><%= link_to "Sign Up", signup_path %></p>
          <p><%= link_to "Log In", login_path %></p>
          <p><%= link_to "Back", :back, class: "btn btn-sm btn-default" %></p>
        <% end %>
      </ul>
    </nav>

    <strong>
      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg.html_safe %>
      <% end %>
    </strong>


    <%= yield %>
  </body>
</html>
